#visualization {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    width: 10px;
    height: 10px;
    margin: 1px;
    border-radius: 50%;
}

.lived {
    background-color: green;
}

.remaining {
    background-color: lightgray;
}
